<footer>
        <p>All rights resevered.</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="js/custom-file-input.js"></script>
    <script src="js/checkout.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.validate.js"></script>
</body>
</html>